{{#if adminLogged}}
<br>
<div class="container" style="margin-left:20%; width: 75%">
  <div class="row">
    <div>
      <div class="panel-heading">
        <div class="pull-right">
        </div>
      </div>
        <br><br><br>
        <h1>Reportes</h1>
        <font size="2" style="color: #8994A0;">Pagina para el registro de los datos totales de la página</font>
        <br><br><br>
        <p class="formSubtitle">Empresas registradas/aceptadas</p>
        <hr id="formDivider" class="contentDivider">
      <table style="width: 100%;">
        <thead id="tableHead">
          <tr style="background-color: #3067A0">
            <th style="color: #FFFFFF" scope="col"></th>
            <th style="color: #FFFFFF" scope="col">Empresas</th>
            {{!-- <th style="color: #FFFFFF" scope="col">Vacantes</th>
            <th style="color: #FFFFFF" scope="col">Puestos</th> --}}
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Registrados</td>
            <td>{{totalComp}}</td>
            {{!-- <td>{{companyName}}</td>
            <td></td> --}}
          </tr>
          <tr>
            <td>Aprobados</td>
            <td>{{approved}}</td>
            {{!-- <td>{{companyName}}</td>
            <td></td> --}}
          </tr>

        </tbody>
      </table>
      <br>
      <p class="formSubtitle">Aspirantes con curriculum subido</p>
        <hr id="formDivider" class="contentDivider">
      <table style="width: 100%;">
        <thead id="tableHead">
          <tr style="background-color: #3067A0">
            <th class="text-center" style="color: #FFFFFF; width:33%;" scope="col">Con CV</th>
            <th class="text-center" style="color: #FFFFFF; width:33%" scope="col">Sin CV</th>
            <th class="text-center" style="color: #FFFFFF; width:33%" scope="col">Total</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>{{haveCV}}</td>
            <td>{{empty}}</td>
            <td class="text-center">{{allUsers}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <p class="formSubtitle">Unidad escolar de los aspirantes</p>
        <hr id="formDivider" class="contentDivider">
      <table style="width: 100%;">
        <thead id="tableHead">
          <tr class="table filters" style="background-color: #3067A0">
            <th class="text-center" style="color: #FFFFFF" scope="col">Unidad</th>
            <th class="text-center" style="color: #FFFFFF" scope="col">Total</th>
          </tr>
        </thead>
        <tbody id="myTable">
          <tr>
            <td>Tomas Aquino</td>
            <td>{{quantityTA}}</td>
          </tr>
          <tr>
            <td>Otay</td>
            <td>{{quantityOtay}}</td>
          </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>
<script>
  console.log(`{{empty}}`)
</script>
{{else}}
    <script>
      window.location.href = "/";
    </script>
    {{/if}}